.CheckoutProduct{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

}

.checkoutproduct_info > button {
  padding:3px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  border: 1px solid;
  border-radius: 2px;
  color:#111;

}
.checkoutproduct_rating{
  display: flex;
  margin-top: 5px;
  margin-bottom: 7px;
}

.checkoutproduct_info{
  padding-left: 20px;
}
.checkoutproduct_title{
  font-size: 17px;
  font-weight: 800;
}
.checkoutproduct_img{
  width:180px;
  height: 180px;
  object-fit: contain;
}

