 .home_img { 
   width:100%; 
   object-fit: contain; 

 }
 .home{ 
    max-width: 1500px;
     margin-left: auto;
     margin-right: auto; 
    } 

 .home_raw{ 
     display: flex;
     z-index: 1;
     margin-left: 5px; 
     margin-right: 5px; 
}
.slider{
width:100%;
height:400px;
}
.slick-arrow.slick-next{
  margin-right:42px;
  z-index:1;
  color:black !important;
}
.slick-arrow.slick-prev{
  
  margin-left:42px;
  z-index:1;
  color:black !important;
}
