.slick-arrow.slick-next{
  margin-right:42px;
  z-index:1;
  color:black !important;
}
.slick-arrow.slick-prev{
  
  margin-left:42px;
  z-index:1;
  color:black !important;
}
.img{
  width:100%;
  object-fit: contain;
}
.div{
  width:100%;
  object-fit: contain;
  margin:5px;
}
